* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90%;
    height: 150px;
    margin: 0 auto;
    background-color: gold;
    border-radius: 6px;
    padding: 5px;
}

#portrait {
    height: 200px;
    padding: 5px;
    scale: 0;
    border-radius: 20px;
    background-color: skyblue;
}

header {
    margin-top: 20px;
}

#header_left {
    float: left;
    max-width: 30%;
    font-size: 14px;
    background-color: skyblue;
    border-radius: 6px;
}

.navigation {
    float: right;
    max-width: 70;
    display: flex;
    list-style: none;
    background-color: red;
    border-radius: 6px;
    padding: 5px;
}

.content {
    position: absolute;
    left: 5%;
    top: 41%;
    max-width: 90%;
    /* height: 155px;
    margin: 0 auto; */
    /* border-radius: 6px; */
    font-size: 20px;
}

.row {
    display: grid;
    grid-template-columns: 15% 80%;
}

.about-me {
    border-right: skyblue 2px solid;
    padding: 15px;
    background-color: red;
    border-radius: 6px;
}

.column {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 5px;
}

.column-about-me {
    border-right: skyblue 2px solid;
}

.column-work {
    border-right: red 2px solid;
}

.work {
    background-color: skyblue;
    border-radius: 6px;
    padding: 15px;
    margin-top: 5px;
}

.projects {
    border-right: red 2px solid;
    margin-right: -65px;
}

.future-projects {
    display: grid;
    grid-template-columns: 50% 50%;
}

.img-responsive {
    height: 200px;
    width: 200px;
}

.footer {
    height: 100px;
    background-color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    margin-top: 5px;
}

.contact-me {
    margin-left: 45%;
}

.contact-links {
    float: left;
    margin-left: -25%;
    margin-top: 10px;
    background-color: red;
    padding: 5px;
    border-radius: 6px;
}